/* Side bar styling */

aside {
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100vh;
}

/* Top bar styling */

.Top-bar {
    margin: 0 auto;
    max-width: 768px;
}
/*
.ham-menu {
    width: 30px;
}
*/
.Logo {
    max-width: 240px;	
}

/* Theme button styling */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}
  
/* Checkbox checked */
input:checked + .slider {
    background-color: #101424;
 }
  
/* Checkbox checked:before */
input:checked + .slider:before {
    transform: translateX(26px);
}
  
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
    border-color: #ccc;
}
  
.slider.round:before {
    border-radius: 50%;
    border-color: #ccc;
}

.bg-black {
    background-color: #000;
}
  
.bg-dark {
    background-color: #12182e;
}

.icon-container {
    padding-left: 5px;
    display: flex;
    align-items: center;
    height: 100%;
}

/* Hover effects and other stuff */ 

.Navigation {
    margin-top: 4cm;
    font-size: 18px;
}

.H-effect:hover {
    transition: 0.3s;
    filter: brightness(50%);
}

.Contact {
    margin-top: 5.8cm;
}
.Contact:hover {
    cursor: pointer;
    transition: 0.2s;
    color: #3e97ec;
    font-style: italic;
    background: #03025e;
}

.Contact a {
   color: lightgrey;
   font-size: 18px;
   text-decoration: none;
   transition: 0.3s;  
}

/* Loader */

#R-page {
    text-decoration: underline;
    color: #0077b8;
}

#R-page:hover {
    text-decoration: wavy underline;
    color: #900604;
}

#copyB {
    background: #d1d5db;
    color: #1a202c;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

#copyB:hover {
    background: #3b82f6;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: #000 #0000;
  animation: load 1s infinite;
}

/* Tier info container */

.Tier-info {
    margin: 0 auto;
    padding: 17px;
    min-width: 288px;
    max-width: 999px;
    border: 4px inset #3e424b;
}

.Tier-info h4 {
    font-size: 17px;
    color: #ed7014;
    margin-bottom: 18px;
}
.Tier-info a {
    color: #3e97ec;
}
.Tier-info a:hover {
    text-decoration: wavy underline;
    color: #a1045a;
}

ul {
    list-style-type: circle;
    color: #bebdb8;
}

/* Payment options container */

.Payment-options {
    animation: slide 0.8s ease-in-out;
    animation-iteration-count: 1;
}

/* Floating icons */

#discord {
    color: #7289da;
    position: fixed;
    bottom: 80px;
    right: 14px;
    margin: 20px 10px;
    z-index: 2;
}

#discord:hover {
    color: #99aab5;
}

.r-code {
    width: 135px;
}

/* Footer */

.Footer {
    background-color: #363636;
    padding-top: 0.5rem;
    color: lightgrey;
    width: 100%;
    height: 2.5rem;
}

/* Dashboard page */

.Invitees-con {
    max-width: 768px;
}

.Invitees {
    width: 100%;
}

/* Leaks page */

#preview-button {
    cursor: pointer;
	background-color: #4b3f33;
    border: none;
    padding-bottom: 2px;
    margin-top: 24px;
	height: 30px;
	width: 5cm;
	border-radius: 10px;
    color: #0a0a23;
	font-size: 17px;
	font-family: Cursive;
}
#preview-button:hover {
    transition: 0.3s ease 0s;
	background-color: darkgrey;
}

.vid-con {
    display: inline-block;
    min-width: 280px;
    max-width: 355px;
    max-height: 635px;
    margin: 25px 25px;
}

#dis-button {
    width: 250px;
    height: 35px;
    margin-top: 35px;
    padding: 5px;
    font-size: 1rem;
    font-family: Sans-serif;
    color: #48494b;
    background: #808589; 
}
#dis-button:hover{
    background: #84effd;
    border: 2px solid #48494b;
}

.Tier-reward {
     display: inline-block;
     background: #a5a5ad;
     margin-left: 20px;
     margin-right: 20px;
     margin-bottom: 20px;
}

.Reward-claim {
     margin: 0 auto;
     max-width: 768px
}

#tier-buy-button {
    display: inline-block;
    margin-top: 44px;
    position: relative;
    bottom: 45px;
}

/* Animations */

@keyframes load {
    to {
        transform: rotate(.5turn)
    }
}

@keyframes slide {
    from {
        margin-left: 80%;
    } to {
        margin-left: 0%;
    }
}

/* Tablet portrait designs */

@media only screen and (max-width: 788px) {
    
     /* Home page */
     
     .Top-bar {
         z-index: 2;
         position: sticky;
         top: 0;
     }

}

/* Mobile view Portrait view */

@media only screen and (max-width: 435px) {   
     
    /* Nav bar */

    aside {
        width: 12.4rem;
    }

    .Contact {
        margin-top: 2cm
    }

     /* Home page */

    .Link-gen-con, .Stats {
        max-width: 380px;
        min-width: 300px;
    }
    .Tier {
        margin: 0 auto;
        width: 225px;
        height: 250px;
    }
    .Tier button {
        margin: 0 auto;
        width: 125px;
    }

    #copyB {
        margin-left: 2px;
    }

    #discord {
        right: 5px;
    }

    /* Leaks page */

    .vid-con {
        margin: 0;
    }

    #tier-buy-button {
        margin-top: 35px;
        margin-bottom: 12px;
        bottom: 0;
    }

}
