/* Side bar styling */

aside {
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100vh;
}

/* Top bar styling */

.Top-bar {
    margin: 0 auto;
    max-width: 768px;
}

/* Theme button styling */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}
  
/* Checkbox checked */
input:checked + .slider {
    background-color: #101424;
 }
  
/* Checkbox checked:before */
input:checked + .slider:before {
    transform: translateX(26px);
}
  
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
    border-color: #ccc;
}
  
.slider.round:before {
    border-radius: 50%;
    border-color: #ccc;
}

.bg-black {
    background-color: #000;
}
  
.bg-dark {
    background-color: #12182e;
}

.icon-container {
    padding-left: 5px;
    display: flex;
    align-items: center;
    height: 100%;
}

/* Hover effects and other stuff */ 

.Navigation {
    margin-top: 4cm;
    font-size: 18px;
}

.H-effect:hover {
    transition: filter 0.3s;
    filter: brightness(50%);
}

.Contact {
    margin-top: 5.8cm;
}

.Contact a {
   color: lightgrey;
   font-size: 18px;
   text-decoration: none;
   transition: 0.3s;  
}

.Contact a:hover {
    color: #3e97ec;
    font-size: 19px;
    font-style: italic;
}

/* Loader */

#R-page {
    text-decoration: underline;
    color: #0077b8;
}

#R-page:hover {
    text-decoration: wavy underline;
    color: #900604;
}

#copyB {
    background: #d1d5db;
    color: #1a202c;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

#copyB:hover {
    background: #3b82f6;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: #000 #0000;
  animation: load 1s infinite;
}

/* Payment options container */

.Payment-options {
    animation: slide 0.8s ease-in-out;
    animation-iteration-count: 1;
}

/* Floating icons */

#discord {
    color: #7289da;
    position: fixed;
    bottom: 12px;
    right: 14px;
    margin: 20px 10px;
    z-index: 2;
}

#discord:hover {
    color: #99aab5;
}

#d-texxt {
    position: fixed;
    bottom: 15px;
    right: 17px;
    font-size: 11px;
    color: #999ea1;
}

/* Animations */

@keyframes load {
    to {
        transform: rotate(.5turn)
    }
}

@keyframes slide {
    from {
        margin-left: 80%;
    } to {
        margin-left: 0%;
    }
}

/* Dashboard page */

.Invitees-con {
    max-width: 768px;
}

.Invitees {
    width: 100%;
}

/* Rewards page */

.Tier-info {
    margin: 0 auto;
    padding: 17px;
    min-width: 288px;
    max-width: 999px;
    border: 4px inset #3e424b;
}

ul {
    list-style-type: circle;
    color: #3e97ec;
}

.Reward-claim button {
    display: inline-block;
    margin-bottom: 12px;
}

@media only screen and (max-width: 780px) {
    
     /* Top bar */
     
     .Top-bar {
         z-index: 2;
         position: sticky;
         top: 0;
     }
}

/* Mobile view Portrait view */

@media only screen and (max-width: 435px) {   
     
    /* Nav bar */

    aside {
        width: 14.5rem;
    }

    .Contact {
        margin-top: 2cm
    }

     /* Home page */

    .Link-gen-con, .Stats, .Tier {
        max-width: 380px;
        min-width: 300px;
    }
    /*
    .Link {
        display: block;
    }
    */
    #copyB {
        margin-left: 2px;
    }

    #discord {
        right: 5px;
    }

}
