@keyframes slideIn {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .slide-in {
    animation: slideIn 1s ease-out;
  }

video {
    width: 380px;
    height: 580px;
}
  
#Email-note {
    font-size: 12px;
    color: #ed7117;
    margin-top: 4px;
}
