@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@keyframes slideIn {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .slide-in {
    animation: slideIn 1s ease-out;
  }

video {
    width: 380px;
    height: 580px;
}

h1 {
    font-family: Roboto
}
  
#Email-note {
    font-size: 12px;
    color: #ed7117;
    margin-top: 4px;
}
